/* .homeMenu {
    margin-left: 12%;
    font-size: large;
}
.navBar {
   justify-content: right;
}
.pageNav {
   font-size: 1.2rem;
}
.homeProfile {
margin-left: 10%;
padding-right: 5px;
}

.logo {
   max-width: 10%;
   height: auto;
}
 */
